#jinja2: newline_sequence:'\r\n'
del /A:H ..\cfg\epasswd
cd '"{{ eagle_base }}:\Program Files (x86)\Eagle Investment Systems\eaglemgr'
cmdmgr.exe credentials --type=aes --action=add --dbname={{ item.oracle_db_name }} --dbuser=estar --dbpass={{ db_password }} --to=..\cfg\epasswd
attrib +h ..\cfg\epasswd
