#jinja2: newline_sequence:'\r\n'
<?xml version="1.0"?>

<!-- Note: a. All defaults can be manually changed. 
           b. The following parameters should have proper values before execution of silent install using default values. 
		         -INSTDRIVE (deployment directory) 
				 -UseDefaults (value=1 for silent install) 
-->

-<roots>

	-<section name="General">

		<!-- Global parameter to define the values for all configurations. 
     Use default values for the all the parameters to use in install/upgrade path. 
	 0 - Disable, the priority for reading attributes, 
	      1. value and 2. defaults 
     1 - Enable, the priority for reading attributes, 
	      1. defaults and 2. value 
     Default value "1" (Enabled) 
-->

		<parameter name="UseDefaults" default="1" value="1"/>

		<!-- The flag to determine the type of installation 
     A - Application Tier (future use) 
	 R - Reporting Tier (valid for current implementation) 
-->

		<parameter name="Tier" default="R" value="R"/>

		<!-- INSTDIRVE is the base drive for the files/folders will be extracted 
     By default - EM Shell will be installed/upgraded on the INSTDRIVE 
	 INSTDIRVE for the for Web Tier will be used for install/upgrade. 
-->

		<parameter name="INSTDRIVE" default="{{ eagle_base }}" value=""/>

		<!-- Service startup after the install/upgrade 
     0 - disable 
	 1 - enable 
	 Default value 1, if parameter and/or value are missing. 
-->

		<parameter name="AutoStart" default="1" value="0"/>

	</section>


	-<section name="ServiceConfig">

		<!-- File deployment location 
     0 - Local (valid value for current implementation) 
	 1 - On the network (Applicable only for Application Tier) 
	 Default value 0, if parameter and/or value are missing. 
-->

		<parameter name="Network" default="0" value=""/>

		<!-- Enable LogonAsService properties for Eagle Services configuration in Windows Service Snap-in 
     0 - disable 
	 1 - enable (default) 
	 Default value 0, if parameter and/or value are missing. 
-->

		<parameter name="ConfigLAS" default="1" value=""/>

		<!--  Optional parameter, used in case of Logon as service is enabled 
      if the value exists, then the service account configuration in password file should be available for the user  
-->

		<!--  
<parameter name="ServiceAccount" default="domain\user" value="" /> 
-->

		<!-- Password file (recommended), contains required credentials to connect the database by Eagle Services. 
     Required, PasswordFile parameter enabled in setup.ini 
-->

		<parameter name="PasswordFile" default="{{ eagle_stage }}\epasswd" value=""/>

		<!-- Baseport for Service configurations 
     Default value 20000, if parameter and/or value are missing. 
-->

		<parameter name="ServiceBasePort" default="20000" value=""/>

		<!-- Application Tier Host reference
     Mandatory parameter, IP address/Hostname of Application Tier 
-->

		<parameter name="AppTierIP" default="{{ eagle_app_ip }}" value="" env="0"/>

		<!-- EMShellPort, User Prompt to configure the EMShell service port in the Application tier. 
     Default value 20050, if parameter and/or value are missing. 
-->

		<parameter name="EMShellPort" default="20050" value=""/>

	</section>


	-<section name="DatabaseConfig">

		<!-- Type of database for service to connect 
     1. SQL - In case of Windows Application Tier 
     2. Oracle - In case of Linux Application Tier
-->

		<parameter name="DatabaseType" default="2" value=""/>

		<!-- Database instance name, valid values from 
     1. SQL - System DSN values in ODBC 64bit 
     2. Oracle - TNSNames in Oracle client 64 bit 
-->

		<parameter name="DatabaseName" default="{{ item.oracle_db_name }}" value="" env="0"/>

		<!-- Type of Authentication when SQL Server database type is chosen 
     0 - disable 
	 1 - enabled (default)
	 Not applicable for Oracle database type, 
	 The Eagle Services will connect the database using the network credentials, requires ConfigLAS parameter to get enabled. 
	 Default value 0, if parameter and/or value are missing. 
-->

		<parameter name="WindowsAuthentication" default="0" value=""/>

		<!-- In case of different Datasource name configured in SQL 32 bit ODBC driver or Oracle 32 bit Client 
     0 - disable 
     1 - enable (recommended) 
	 Default value 1, if parameter and/or value are missing. 
-->

		<parameter name="32bitClient" default="1" value=""/>

		<!-- Database instance name, valid values from 
     1. SQL - System DSN values in ODBC 32bit 
     2. Oracle - TNSNames in Oracle client 32bit 
-->

		<parameter name="DatabaseName32bit" default="{{ item.oracle_db_name }}" value="" env="0"/>

	</section>

</roots>
