#jinja2: newline_sequence:'\r\n'
{{ item.oracle_db_name }} =
 (DESCRIPTION = 
   (ADDRESS_LIST =
     (ADDRESS = (PROTOCOL = TCP)(HOST = {{ item.oracle_host }})(PORT = {{ item.oracle_port }}))
   )
 (CONNECT_DATA =
   (SERVICE_NAME = {{ item.oracle_db_name }})
 )
)