#jinja2: newline_sequence:'\r\n'
;----------------------------------------------------------------------------
; Patch Installer initialization file
; 
; Start patch installer binary with -s option to run it in silent mode
; By default, it will use [SilentMode] section from "eaglepatch.ini" file
; If you want to use different file name - specify it after -s option like this:
; ./eaglepatch -s="silentfilename.ini"
; This file can contain same sections: [SilentMode], [PatchInstaller], [Notification]
;----------------------------------------------------------------------------

[SilentMode]
; turn on silent mode (default: 1), for silent mode to work -s command-line option has to be passed 
SilentMode={{ eagle_silent_install }}

; if not commented, the file be read for static value definition from the server.
; if commented, all the static definition should be available in this file.
; In case if some or all the parameters missing in static file, Eagle Patch will be reading those values from current file.
StaticConfig=~/eagle/eaglemgr/config/eaglepatch.ini

; PatchInstaller in silent mode needs to know where products were installed
; You can specify directories for the installed products using the INSTDIR_EMSHELL parameter below
; You can use ~/ macro to specify current user home directory

INSTDIR_EMShell32={{ eagle_base }}:\Program Files (x86)\Eagle Investment Systems
INSTDIR_STAR_Web64={{ eagle_base }}:\Program Files (x86)\Eagle Investment Systems\estar\tpe
INSTDIR_PACE_Server32={{ eagle_base }}:\Program Files (x86)\Eagle Investment Systems\PACE

;INSTDIR_EMShell={{ eagle_base }}:\Program Files (x86)\Eagle Investment Systems\
;INSTDIR_PACE_Web={{ eagle_base }}:\Program Files (x86)\Eagle Investment Systems\PACE
;INSTDIR_EMShell32={{ eagle_base }}:\Program Files (x86)\Eagle Investment Systems\eaglemgr
;INSTDIR_PACE_Server32={{ eagle_base }}:\Program Files (x86)\Eagle Investment Systems\
;INSTDIR_PACE_Server=
;INSTDIR_PACE_AppServer=
;INSTDIR_PACE_Server32=
;INSTDIR_STAR_Engine=

[PatchInstaller]
;0 – Disabled (Current adoption of extracting all files)
;1 – Enabled (default, only changed files will be extracted)
Delta=1

; enable the below parameter in case of backward compatibility check is required
; the functionality is currently availble only for STAR_Web64 Component
BackwardCompatibility=0

; auto-detect installed products on UNIX by scanning user home directory and checking running processes
; if there are lots of directories it can take some time
; this feature is turned off in silent mode, be default: 1
AutoDetection=1

; the parameter will determine the levels of auto-detection levels, used in interactive mode
AutoDetectionLevels=3


;File to uncompress custom package delivery along with core package delivery mechanism
;UnCompressFile=

;Parameter for skipping the backup action at runtime although it is configured
SkipBackup={{ SkipBackup }}

; -----------------   Log parameters ----------------------------------------
; Relative or absolute path to logfile with logname 
; by default log created in directory with patchinstaller binary
Log_File=patchinstall
; Log Level (0..5), default: 5
;   0 - disable log (log only critical errors)
;   1 - error log level (log errors only)
;   5 - debugging log level
Log_Level=5
; Log Thread ID for each thread, default: 0
Log_ShowThrdID=0
; flush log buffer to disk after each line (1 - will decrease performance), default: 0
Log_FlushAll=1
; Log to Console in debug mode (default: 0)
Log_Console=0
; Console Log Level (default: 5)
Log_ConsoleLevel=5
; show console in debug mode (default: 0)
Log_ShowConsole=0
; stop logging when free disk space will be less that LogFileDirLimit (in KB)
LogFileDirLimit=300

;Override the configured start or stop service actions
ServiceShutdown={{ ServiceShutdown }}
ServiceStartup=0

; enable to generate reconciliation report 
; works only if patch_checksum.xml file exists on the same patch directory
	; 0 – Disabled
	; 1 – Enabled with patch deployment
	; 2 – Enabled only for Reconciliation Report. This option doesn’t upgrade any file on the server
ReconReport={{ ReconReport }}

; enable the below parameter, In case database connection not present during upgrade time, 
SkipDBConnection={{ SkipDBConnection }}

; parameter to trigger pre-patch state in case of hanging or time consuming upgrade process
TimeOut=120

[Notification]
; Patch Installer can send results of installation using SMTP protocol
;
; send notification e-mail with the results of patch installation (disabled by default)
EnableEmail=1
; From: email address, default: patchinstaller@eagleinvsys.com
EmailFrom=patchinstaller@eagleinvsys.com
; To: email address, several addresses can be separated by comma
EmailTo=support@eagleinvsys.com
; IP address or hostname of SMTP Server (be default - 127.0.0.1)
SMTPServer=eaglemail
; SMTP Server port (by default - 25)
SMTPServerPort=25

; if patch installer fails, attach log to the notification email (default: 1)
LogAttach=1
; compress log using rar archiver before attaching to email (default: 1)
LogCompress=1

