#jinja2: newline_sequence:'\r\n'
[InstallShield Silent]
Version=v7.00
File=Response File
[File Transfer]
OverwrittenReadOnly=NoToAll
[{DF54EACA-E9CF-4F0D-9EA4-D3317C744D22}-DlgOrder]
Dlg0={DF54EACA-E9CF-4F0D-9EA4-D3317C744D22}-SdWelcome-0
Count=6
Dlg1={DF54EACA-E9CF-4F0D-9EA4-D3317C744D22}-DeploymentTypeDialog-0
Dlg2={DF54EACA-E9CF-4F0D-9EA4-D3317C744D22}-ShowCertificateDialog-0
Dlg3={DF54EACA-E9CF-4F0D-9EA4-D3317C744D22}-FtpCredentialsDialog-0
Dlg4={DF54EACA-E9CF-4F0D-9EA4-D3317C744D22}-SdStartCopy2-0
Dlg5={DF54EACA-E9CF-4F0D-9EA4-D3317C744D22}-SdFinish-0
[{DF54EACA-E9CF-4F0D-9EA4-D3317C744D22}-SdWelcome-0]
Result=1
[{DF54EACA-E9CF-4F0D-9EA4-D3317C744D22}-DeploymentTypeDialog-0]
Result=1
szPath=https://{{ eagle_public_url }}/tpe/modules/eshell/
szAppName=Eagle ({{ eagle_public_url }})
InstallAllComponents=1
Install=1
CreateShortcut=1
[{DF54EACA-E9CF-4F0D-9EA4-D3317C744D22}-ShowCertificateDialog-0]
Result=1
UseDefault=1
szFile=' '
szPWD=' '
TimeStampURI=' '
[{DF54EACA-E9CF-4F0D-9EA4-D3317C744D22}-FtpCredentialsDialog-0]
Result=1
bIsFTP=0
szDir=F:\Program Files\Eagle Investment Systems\estar\tpe\modules\eshell
[{DF54EACA-E9CF-4F0D-9EA4-D3317C744D22}-SdStartCopy2-0]
Result=1
[{DF54EACA-E9CF-4F0D-9EA4-D3317C744D22}-SdFinish-0]
Result=1
bOpt1=0
bOpt2=0

