#jinja2: newline_sequence:'\r\n'
[HKEY_LOCAL_MACHINE\SOFTWARE\Eagle Development Group\EagleSTAR]
Local_IP={{ hostvars[inventory_hostname].ansible_hostname }}


[HKEY_LOCAL_MACHINE\SOFTWARE\Eagle Development Group\EagleSTAR\StarSecurity]
STARSECURITYVERSION=4.0.0.10
"TIMEOUT2LOGOFF"=dword:258
"LOGLEVEL"=dword:00000001
"LOGDIR"="logs/starsecurity"

SKIP_XMLAPP_REFRESH_CACHE=dword:00000001

; DATABASE Integration --
SECURITY_USER=starweb

; TPEREQUEST_TIMEOUT set timeout value for all TPEServer requests in seconds.
; The value "0" means timeout feature is disabled.
; The default value is 0.
TPEREQUEST_TIMEOUT=60

; Switch login from direct DB to cached data.
; 0 - direct DB,
; 1 - cached data.
; The default value - 1.
;LOGINWITHCACHEDATA=0

; DATABASE Integration Replication of user password every (in minutes) --
ReplicateUserInfo=dword:00000001
;replication of database synchronization and delete old users session in sec
;in case if this flag is not 0 NUMBER_OF_LOGINS_BEFORE_DELOLDSESSIONS flag is skipped
REPLICATE_DELOLDSESSIONS=20

; lock disable users replicator -- time in hours
; replicator not used when AuthenticationMethod=HEADER
REPLICATE_LOCKDISABLEUSERS_HRS=24

; SESSIONS
; default = 120
KEEP_TIMEDOUT_SESSION_MIN=120
; default = 100
NUMBER_OF_LOGINS_BEFORE_DELOLDSESSIONS=100
SKIPTIMEOUT=dword:00000000

;STYLES
UsersStyleSheet=/tpe/modules/site/style/users.xsl

; Check in Menu Builder current user settings, if settings are not good (no staff group etc)
; show error immediatly after login.
CHECK_SITE_STATE_ONLOGIN=1

DEFAULT_DIR_ACCESS=0

; Define time interval for request ID
REQUEST_ID_INTERVAL=300

; Define url which will be used to relogin in header authentication mode when connection to server lost
;RELOGIN_URL=
;RELOGIN_URL_CAPTION=


KEEP_SM_SESSION_MIN=30
DATABASE_CONF=dword:00000001
DATABASE_DEBUG=dword:00000001

[AUTHENTICATION]
# Authentication section defines a way in which STARSecurity authenticates user.
# There are 2 modes: STAR and HEADER. The mode is specified by AuthenticationMethod key. The only one mode is active in the same time
# 	STAR mode: STAR security shows logon page to ask user for user name and password.
# 	HEADER mode: STAR security looks for user name in HTTP header. The header is specified in AuthenticationInfo key.
AuthenticationMethod=STAR
;AuthenticationMethod=HEADER
;AuthenticationInfo=HTTP_SM_USER
;AuthenticationInfo=AUTH_USER
;SMLOGIN_KEYWORD="<title>SSO Login Page</title>"


[SSL]
# Enable/disable support of SSL Layer 5. By default it's enabled. To disable set SSLLayer5Support=0, to enable 1.
# This feature uses global connection_id map.
SSLLayer5Support=0


[INITIALIZATION_STATUS]
; The option enables a status initialization feature in StarSecurity. User gets a logon page with status of initialization.
; The value "0" disables this option and all options in [INITIALIZATION_STATUS] section
; The default value is  "1"
EnableInializationStatus = 1
; Timeout [seconds] to process request while StarSecurity is initializing. Once timeout is passed, user gets a logon page with initialization status.
; This option is enabled only if EnableInializationStatus=1.
; The default value is "10". The minimal value is "1".
LogonPage_Timeout = 15
; Timeout [seconds] to show an error of StarSecurity initialization. Once timeout is passed, user gets a logon page with error message.
; This option is enabled only if EnableInializationStatus=1.
; The default value is "600". The minimal value is "1".
LogonPageWithError_Timeout = 600
; Time [seconds] to auto refresh logon page with status while StarSecurity is initializing.
; This option is enabled only if EnableInializationStatus=1.
; The value "0" disables autorefresh option.
; The default value is "5".
LogonPage_AutoRefresh = 5
; This option specify time [seconds] to refresh tpeserver status during starsecurity initialization
; when tpeserver initialization is in progress. Default value is 5.
TpeServerStatusRefresh = 5


[PERMISSIONS]
/			=0
/cfg/*			=0
/bin/			=0
/logs/			=0
/servers/		=0
/tmp/			=0
/sendstub/		=0
/dynamic/		=1
/dynamic/securitydat/	=0
/documents/		=1
/data/			=1
/ext/			=1
/ext/rest/*		=1
/modules/		=1
/dynamic/resultdat/	=1
/epace/*		=1
/epace-cgi/*		=1
/epace-admin/*		=1


[REDIRECTURL_2SITES]
/tpe/ext/request/=/ext/
; RootUrl
/root/=/modules/site/static/nxgindex.htm
; DirManager
/tpe/modules/*/asp/diradmin.dll=/ext/tperequest.dll?ProcessRequest&3000&200&
/tpe/ext/dirmanager/dirmanager.dll=/ext/tperequest.dll?ProcessRequest&3000&200&
; Menubuilder
/tpe/modules/tec/asp/app.dll/=/ext/tperequest.dll?ProcessRequest&7000&200&
/tpe/modules/banners/bannermanager.pl=/ext/tperequest.dll?ProcessRequest&7000&200&bannermanager
; EditorApp
/tpe/modules/editor/asp/app.dll/=/ext/tperequest.dll?ProcessRequest&3500&200&
/tpe/ext/app/editorapp.dll/=/ext/tperequest.dll?ProcessRequest&3500&200&
/tpe/modules/msgcentereditor/asp/app.dll=/ext/tperequest.dll?ProcessRequest&3500&200&
; Messenger
/tpe/modules/messenger/asp/messenger.dll/=/ext/tperequest.dll?ProcessRequest&5500&200&
/tpe/ext/messenger/messenger.dll/=/ext/tperequest.dll?ProcessRequest&5500&200&
; UserManager
/tpe/modules/umgr/lib/umgrext.dll/=/ext/tperequest.dll?ProcessRequest&6000&200&
/tpe/ext/umgr/umgrdbext.dll/=/ext/tperequest.dll?ProcessRequest&6000&200&
/tpe/modules/umgr/lib/umgrdbext.dll/=/ext/tperequest.dll?ProcessRequest&6000&200&
/tpe/modules/umgr/lib/ntumgrext.dll=/ext/umgr/ntumgrext.dll
; StarEditorX
/tpe/modules/stareditor/stareditorx.dll/=/ext/tperequest.dll?ProcessRequest&6500&200&
/tpe/modules/stareditor/stareditorx.dll=/ext/tperequest.dll?ProcessRequest&6500&200&
; TpeDaemon
/tpe/modules/strmgr/asp/tpedaemon.dll?emshell&=/ext/tperequest.dll?processrequest&1960&100&
/tpe/ext/tpedaemon/tpedaemon.dll?emshell&=/ext/tperequest.dll?processrequest&1960&100&
/tpe/modules/strmgr/asp/tpedaemon.dll?=/ext/tperequest.dll?processrequest&8500&100&
/tpe/ext/tpedaemon/tpedaemon.dll?=/ext/tperequest.dll?processrequest&8500&100&
; ScheduleService & MessageCenter requests
/tpe/servers/msgservice/ext/starmsgcntrrequest.dll=/ext/tperequest.dll
/messaging/=/ext/tperequest.dll?ProcessRequest&4500&200&MsgServiceRunMessage&streamname=
/tpe/ext/schreqst/schrequest.dll?Request=/ext/tperequest.dll?schrequest
/tpe/ext/schreqst/schrequest.dll?GetRequest=/ext/tperequest.dll?schgetrequest
; dbproxy
/tpe/ext/estardbproxy/estardbproxy.dll?=/ext/tperequest.dll?ProcessRequest&3200&200&
; webservice
/webservice/=/ext/starsecurity.dll?wsrouter&ws=panelprocessor&path=
/webservice12/=/ext/starsecurity.dll?wsrouter&ws=panelprocessor12&path=
; metadatamanager
/metadatamanager=/ext/starsecurity.dll?wsrouter&ws=metadatamanager&path=
;message center ws
/EagleMLWebService20=/ext/starsecurity.dll?wsrouter&ws=eaglemlws20&path=
/EagleMLWebService20/=/ext/starsecurity.dll?wsrouter&ws=eaglemlws20&path=
/EagleMLWebService20?wsdl=/ext/starsecurity.dll?wsrouter&ws=eaglemlwswsdl20&path=
/eaglemlxsd/=/ext/starsecurity.dll?wsrouter&ws=eaglemlwsxsd&path=
/webservice/v1/=/ext/starsecurity.dll?wsrouter&ws=panelprocessor-v1&path=
/ws/paceappserver=/ext/starsecurity.dll?wsrouter&ws=paceappserver&path=
/ws/paceappserver/v1=/ext/starsecurity.dll?wsrouter&ws=paceappserver-v1&path=


[CAPABILITIES]
LOGINPOST=1
LOGINWITHENCRYPTEDPASSWORD=1
DMGR_ENABLEDLOCALSTORE=0
DMGR_INAPPLICATION_DOWNLOADFILE=/tpe/ext/tperequest.dll?processrequest&3100&100&compress=no:filename=%s
; path to logon banner
;LOGON_BANNER=/tpe/modules/site/static/logon_banner.txt
CLASSIC_LOGON_URL=/classic
EagleSecurityMode=1
;Allow redirects to another sites. The default value - 1
ALLOW_CROSS_SERVER_REDIRECT=1
SignatureCheck=1


[PASSURLS]
0=/modules/site/img/*.gif
1=/modules/site/img/*.jpg
2=/modules/site/style/*.css
;3=/modules/site/style/logon.htm
;4=/modules/site/chpasswd.htm
5=/modules/profilemanager/profilemanager.css
6=/modules/dmgr/downloadmanager.cab
7=/modules/site/export.htm
8=/epace/epace-cgi/*.*
9=/ext/starsecurity.dll?eslogon*
10=/ext/starsecurity.dll?essecurelogon*
11=/modules/appserver*
12=/ext/starsecurity.dll?eschangepassword*
13=/ext/starsecurity.dll?LaunchChpasswdScreen*
14=/ext/tperequest.dll?ProcessRequest&200&800&ENGINE_STATUS
15=/ext/tperequest.dll?ProcessRequest&200&200&tagsysmsgtype=MTQUERY:tagsyssubmsgtype=LSOURCE:requesttype=S:curfilename=ping.htm
16=/ext/messenger/messenger.dll/SelectMessages?countonly=1*
17=/ext/starsecurity.dll?LaunchLogonScreen*
18=/ext/starsecurity.dll?ESOptions
19=/ext/starsecurity.dll?ESSecureAuthorization*
20=/ext/tperequest.dll?ProcessRequest&650&800&
21=/ext/tperequest.dll?ProcessRequest&7000&200&webstatus*
22=/ext/tperequest.dll?processrequest&7000&200&fetchbroadcastmessages*
23=/ext/tpedaemon/tpedaemon.dll?getstat&name=%21CCF_GET_FULL_ENGINE_XML_STAT&
24=/ext/tperequest.dll?processrequest&650&2000
25=/epace/*
26=/epace-cgi/*
27=/epace-admin/*
28=/modules/cbui/cgi/*
29=/ext/starsecurity.dll?logon*
30=/ext/starsecurity.dll?essyncrequestid
100=/tmp/*
200=/ext/starsecurity.dll?wsrouter&*
301=/dynamic/eagleml/*
302=/ext/rest/*
401=/modules/eshell/*.*
402=/modules/eshell/*
403=/modules/site/static/nxgindex.htm


[PAD_SKIPBODY_URLS]
1=/epace/*
2=/epace-cgi/*
3=/epace-admin/*
4=/modules/cbui/cgi/*


[WEB_SERVICES]
# DenyAccess setting defines a list of request's suffixes separated by ';' that are denied
# To deny access for all requests, specify '*' char.
DenyAccess=?wsdl;/wsdl

[WEB_SERVICES_LIST]
#Parameters for webservices
#key - webservice name
#value - content 3 part, separated by "&"
#1 - number, module id send to
#2 - Request id
#3 - command
panelprocessor=9000&200&wspanelprocessor&SoapVer=11
panelprocessor12=9000&200&wspanelprocessor&SoapVer=12
metadatamanager=9500&200&mdmprocessor
eaglemlws=4500&200&ExecuteEagleMLRequest
eaglemlwswsdl=4500&200&wsdl
eaglemlws20=4500&200&ExecuteEagleMLRequest
eaglemlwswsdl20=4500&200&wsdl20
eaglemlwsxsd=4500&200&xsd
panelprocessor-v1=9000&200&wspanelprocessor&SoapVer=11&Ver=1
paceappserver=8000&4000&cmd
paceappserver-v1=8000&4500&cmd

