 <!-- 
Note:
a. All defaults can be manually changed.  
b. The following parameters should have proper values before execution of silent install using default values.
  -INSTDRIVE (deployment directory)
  -UseDefaults (value=1 for silent install)
  - Application Tier and Cluster server details is required, can be configured as environment variables.
  
c. env attribute is applicable any parameter with the exception of UseDefaults.
d. env attribute will be used to determine whether the value should be read from xml file or from the environment variables.
-->
<roots>
  <section name="General">

  <!-- INSTDIRVE is the base drive for the files/folders will be extracted 
       By default -
            EM Shell will be installed/upgraded on the INSTDRIVE
            INSTDIRVE for the for Web Tier will be used for install/upgrade.
  -->
  <parameter name="INSTDRIVE" value="" default="{{ eagle_base }}"/>

  <!-- Global parameter to define the values for all configurations.
       Use default values for the all the parameters to use in install/upgrade path.
       0 - Disable, the priority for reading attributes, 1. value and 2. defaults
       1 - Enable,  the priority for reading attributes, 1. defaults and 2. value
       Default value "1" (Enabled) -->
  <parameter name="UseDefaults"      value="1" default="1" />

  <!-- Service startup after the install/upgrade
       0 - disable
       1 - enable
       Default value 1, if parameter and/or value are missing. -->
  <parameter name="AutoStart"       value="0"  default="0"/>
  
  </section>   
  
  <section name="WebConfig">

  <!-- Flag to configure the Eagle Site in http/https mode. 
       0 - disable
       1 - enable
       Default value 1, if parameter and/or value are missing. -->
  
	<parameter name="UseSSL"            value=""  default="1" />

  <!-- The SiteIP/Port will be used to configure the bindings for Eagle Site. -->

  <parameter name="EagleSiteIP"       value=""  default="{{ eagle_hostip }}" env="0"/>
  <parameter name="EagleSitePort"     value=""  default="443" />
 
  <!-- New UI Separate Site Configuration. -->
  
	<NewUI>

       <!-- Flag to configure the Eagle New UI Site as a separate site or not 
            0 - disable
            1 - enable
            Default value 1, if parameter and/or value are missing. -->

	     <parameter name="SeparateSite" 			value="" default="{{ enable_separate_site }}"/>

       <!-- The UISiteIP/Port will be used to configure the bindings for Eagle New UI Site. 
            Valid only if we enable the SeparateSite parameter-->

       <parameter name="NewUISiteIP"       value=""  default="{{ eagle_hostip }}" env="0"/>
       <parameter name="NewUISitePort"     value=""  default="444" />
 	</NewUI>
	
  <!-- Optional Certificate Configuration, To configure the site in secure mode if UseSSL mode is enabled. 
       0 - Postpone Configuration
       1 - Configure Now (default)
       Default value 0, if parameter and/or value are missing. -->
  
	<parameter name="Configure" value="0" default="1"/>
	
  <!-- Certificate Name, is Mandatory if configure is set to 1 -->

	<parameter name="CertificateName"  value="" default="Not Selected"/>

  <!-- Optional Single Sign On Configuration, To configure the site in SSO mode.
       0 - Disabled (default)
       1 - Enabled
  -->
    
	<parameter name="ConfigSSO" value="" default="0"/>
	
  <!-- Type of Authentication (Windows or Others) when ConfigSSO is enabled.  
       0 - Others
       1 - Windows Authentication (default)
  -->

	<parameter name="WindowsAuthentication" value="" default="1"/>

  <!-- Header Name, is Mandatory if ConfigSSO is Enabled -->
  
	<parameter name="HeaderName"  value="" default="HTTP_AUTHORIZATION"/>
	
  </section>
    
  <section name="ServiceConfig">

  <!-- Configure IP address/Hostname of Application Tier. -->

  <parameter name="AppTierIP"        value=""  default="{{ eagle_app_ip }}" env="0"/>

  <!-- Configure Normal/Shared Instance in Web-Tier, based on setting in Application Tier
       0 - Normal         (default)
       1 - Shared Instance
  -->
	<parameter name="Normal"           value=""  default="0" />

  <!-- Baseport, Mandatory for Normal Instance, if Normal parameter is set to 0 (Zero) -->

  <parameter name="Baseport"         value=""  default="20000" />
 
  <!-- EMShellPort, Mandatory for Shared Instance, if Normal parameter is set to 1 (One) -->

  <parameter name="EMShellPort"      value=""  default="20050" />

  </section>
     
  <section name="ClusterConfig">

  <!-- Configure Cluster Configuration for Application Tier. 
       Applicable only for Normal Instance. -->
    <!--
    <parameter name="ClusterPriAddress"  value="" default="CLUSTER_PRI_IP" env="1"/>
    <parameter name="ClusterPriPort"     value="" default="20000"/>
    <parameter name="ClusterSecAddress"  value="" default="CLUSTER_SEC_IP" env="1"/>
    <parameter name="ClusterSecPort"     value="" default="20000"/>
    -->
  </section>

</roots>
